<ion-header>
  <ion-toolbar>
    <ion-title>Sample: ionicons not loading with CapacitorHttp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin">
    <p>Build and run on an emulator.</p>
    <pre>
npm run build
npm cap sync
npx cap open ios
</pre
    >
    <p>None of the icons below are loaded:</p>
  </div>
  <ion-item>
    <ion-icon name="accessibility" slot="start"></ion-icon>
    <ion-label>accessibility</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="american-football" slot="start"></ion-icon>
    <ion-label>american-football</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="arrow-down" slot="start"></ion-icon>
    <ion-label>arrow-down-football</ion-label>
  </ion-item>
</ion-content>
